{% extends 'news.html' %}
{% block title %} {{ object.title }} {% endblock %}
{% block component %}
    <div class="news-detail">
        <div class="news-detail__title">
            {{ object.title|title }}
        </div>
        <div class="news-item__date">
            {{ object.date_create|date:'d M Y H:i' }}
        </div>
        <div class="news-detail__body" data-category="{{ object.category.first.code }}">
             {% if object.picture.exists %}
                <ul class="news-detail__body-picture">
                    {% for picture in object.picture.all %}
                        <li class="news-detail__body-picture_{% cycle 'odd' 'even' %}">
                            <img src="{% resize picture.file.path 100 100 %}" width="100" height="100" />
                        </li>
                    {% endfor %}
                </ul>
             {% endif %}
            <p>{{ object.detail_text|urlize|linebreaks }}</p>
        </div>
    </div>
    {% comment_object entry %}
{% endblock %}