{% extends 'news.html' %}
{% block title %} {% trans 'Новости' %} {% endblock %}
{% block component %}
    <div class="news-list">
        {% for item in object_list %}
            <div class="news-item">
                <div class="news-item__title">
                    <a href="{% url 'news:detail' slug=item.category.slug pk=item.id %}">{{ item.title|title }}</a>
                </div>
                <div class="news-item__date">
                    {% ifchanged %}
                        {{ item.date_create|date:"d M Y" }}
                    {% else %}
                        {% trans 'В тот же день но в ' %}
                    {% endifchanged %}
                    {{ item.date_create|date:"H:i" }}
                </div>
                <div class="news-item__body">
                    <p>{{ item.preview_text|truncatewords:5 }}</p>
                </div>
            </div>
        {% empty %}
            <div class="news-empty">
                {% trans 'Нет новостей!' %}
            </div>
        {% endfor %}
    </div>
{% endblock %}