.width-pr-10 {
	width: 10% !important;
}
.width-pr-20 {
	width: 20% !important;
}
.width-pr-30 {
	width: 30% !important;
}
.width-pr-40 {
	width: 40% !important;
}
.width-pr-50 {
	width: 50% !important;
}
.width-pr-60 {
	width: 60% !important;
}
.width-pr-70 {
	width: 70% !important;
}
.width-pr-80 {
	width: 80% !important;
}
.width-pr-90 {
	width: 90% !important;
}
.width-pr-100 {
	width: 100% !important;
}

.height-pr-10 {
	height: 10% !important;
}
.height-pr-20 {
	height: 20% !important;
}
.height-pr-30 {
	height: 30% !important;
}
.height-pr-40 {
	height: 40% !important;
}
.height-pr-50 {
	height: 50% !important;
}
.height-pr-60 {
	height: 60% !important;
}
.height-pr-70 {
	height: 70% !important;
}
.height-pr-80 {
	height: 80% !important;
}
.height-pr-90 {
	height: 90% !important;
}
.height-pr-100 {
	height: 100% !important;
}

.display-inline {
	display: inline !important;
}
.display-block {
	display: block !important;
}
.display-none {
	display: none !important;
}

.float-left {
	float: left !important;
}
.float-right {
	float: right !important;
}

.margin-auto {
	margin: 0 auto !important;
}

.margin-0 {
	margin: 0px !important;
}
.margin-5 {
	margin: 5px !important;
}
.margin-10 {
	margin: 10px !important;
}
.margin-15 {
	margin: 15px !important;
}
.margin-20 {
	margin: 20px !important;
}

.margin-top-0 {
	margin-top: 0px !important;
}
.margin-top-5 {
	margin-top: 5px !important;
}
.margin-top-10 {
	margin-top: 10px !important;
}
.margin-top-15 {
	margin-top: 15px !important;
}
.margin-top-20 {
	margin-top: 20px !important;
}

.margin-left-0 {
	margin-left: 0px !important;
}
.margin-left-5 {
	margin-left: 5px !important;
}
.margin-left-10 {
	margin-left: 10px !important;
}
.margin-left-15 {
	margin-left: 15px !important;
}
.margin-left-20 {
	margin-left: 20px !important;
}

.margin-right-0 {
	margin-right: 0px !important;
}
.margin-right-5 {
	margin-right: 5px !important;
}
.margin-right-10 {
	margin-right: 10px !important;
}
.margin-right-15 {
	margin-right: 15px !important;
}
.margin-right-20 {
	margin-right: 20px !important;
}

.margin-bottom-0 {
	margin-bottom: 0px !important;
}
.margin-bottom-5 {
	margin-bottom: 5px !important;
}
.margin-bottom-10 {
	margin-bottom: 10px !important;
}
.margin-bottom-15 {
	margin-bottom: 15px !important;
}
.margin-bottom-20 {
	margin-bottom: 20px !important;
}

.padding-0 {
	padding: 0px !important;
}
.padding-5 {
	padding: 5px !important;
}
.padding-10 {
	padding: 10px !important;
}
.padding-15 {
	padding: 15px !important;
}
.padding-20 {
	padding: 20px !important;
}

.padding-top-0 {
	padding-top: 0px !important;
}
.padding-top-5 {
	padding-top: 5px !important;
}
.padding-top-10 {
	padding-top: 10px !important;
}
.padding-top-15 {
	padding-top: 15px !important;
}
.padding-top-20 {
	padding-top: 20px !important;
}

.padding-left-0 {
	padding-left: 0px !important;
}
.padding-left-5 {
	padding-left: 5px !important;
}
.padding-left-10 {
	padding-left: 10px !important;
}
.padding-left-15 {
	padding-left: 15px !important;
}
.padding-left-20 {
	padding-left: 20px !important;
}

.padding-right-0 {
	padding-right: 0px !important;
}
.padding-right-5 {
	padding-right: 5px !important;
}
.padding-right-10 {
	padding-right: 10px !important;
}
.padding-right-15 {
	padding-right: 15px !important;
}
.padding-right-20 {
	padding-right: 20px !important;
}

.padding-bottom-0 {
	padding-bottom: 0px !important;
}
.padding-bottom-5 {
	padding-bottom: 5px !important;
}
.padding-bottom-10 {
	padding-bottom: 10px !important;
}
.padding-bottom-15 {
	padding-bottom: 15px !important;
}
.padding-bottom-20 {
	padding-bottom: 20px !important;
}

.text-left {
	text-align: left !important;
}
.text-center {
	text-align: center !important;
}
.text-right {
	text-align: right !important;
}

.font-size-8 {
	font-size: 8px !important;
}
.font-size-10 {
	font-size: 10px !important;
}
.font-size-12 {
	font-size: 12px !important;
}
.font-size-14 {
	font-size: 14px !important;
}
.font-size-14 {
	font-size: 14px !important;
}
.font-size-16 {
	font-size: 16px !important;
}
.font-size-18 {
	font-size: 18px !important;
}
.font-size-20 {
	font-size: 20px !important;
}
.font-size-22 {
	font-size: 22px !important;
}
.font-size-24 {
	font-size: 24px !important;
}
.font-size-26 {
	font-size: 26px !important;
}
.font-size-28 {
	font-size: 28px !important;
}
.font-size-32 {
	font-size: 32px !important;
}
.font-size-64 {
	font-size: 64px !important;
}
.font-size-128 {
	font-size: 128px !important;
}

.line-height-5 {
	line-height: 5px !important;
}
.line-height-10 {
	line-height: 10px !important;
}
.line-height-15 {
	line-height: 15px !important;
}
.line-height-20 {
	line-height: 20px !important;
}
.line-height-25 {
	line-height: 25px !important;
}
.line-height-30 {
	line-height: 30px !important;
}
