<div class="sidebar-login">
    {% if request.user.is_authenticated %}
        {% blocktrans trimmed with username=request.user.username  %}
            <h4>Добро пожаловать {{ username }}</h4>
        {% endblocktrans %}
        <a class="btn btn-sm btn-danger" href="{% url 'auth:logout' %}?next={{ request.get_full_path|urlencode }}">{% trans 'Выход' %}</a>
    {% else %}
        <form method="POST" action="{% url 'auth:index' %}" name="sidebar-auth-login">
            {% csrf_token %}
            {{ form.as_ul }}
            <input type="hidden" name="next" value="{{ request.get_full_path|urlencode }}"/>
            <input class="btn btn-sm btn-primary" type="submit" value="{% trans 'Вход' %}"/>
        </form>
    {% endif %}
</div>