{% get_current_language as LANGUAGE %}
{% get_available_languages as LANGUAGES %}
{% load auth %}
{% load news %}
{% load blog %}
{% load macros %}
{% load sitetree %}
{% macro title %}{% block title %}{% sitetree_page_title from 'site_'|add:LANGUAGE %}{% endblock %}{% endmacro %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE }}">
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-theme.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "css/macros.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">

		<script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
		<script type="text/javascript" src="{% static "js/jquery/mask.js" %}"></script>
		<script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>
		<script type="text/javascript" src="{% static "js/bootstrap/datetime.js" %}"></script>
		<script type="text/javascript" src="{% static "js/bootstrap/typeahead.js" %}"></script>
		<script type="text/javascript" src="{% static "js/bootstrap/datetime/ru.js" %}"></script>
		<script type="text/javascript" src="{% static "js/underscore.js" %}"></script>
		<script type="text/javascript" src="{% static "js/moment.js" %}"></script>

		<title>{% trans "Проект на джанго" %} | {% use_macro title %}</title>
	</head>
	<body>
		<div class="header">
			<div class="header__langs">
				<ul>
					{% for code, title in LANGUAGES %}
						<li>{% if LANGUAGE == code %}{{ title }}{% else %}<a href="/{{ code }}/">{{ title }}</a>{% endif %}</li>
					{% endfor %}
				</ul>
			</div>
			<div class="header__navigation">
				{% sitetree_menu from 'site_'|add:LANGUAGE include 'trunk' template 'sitetree/menu_bootstrap.html' %}
			</div>
			<div class="header__breadcrumbs">
				{% sitetree_breadcrumbs from 'site' %}
			</div>
			<div class="header__title">
				<h1>{% use_macro title %}</h1>
			</div>
		</div>
		<div class="row container">
			<div class="col-sm-8 content">{% block content %}{% endblock %}</div>
			<div class="col-sm-4 sidebar-right">
				{% auth_sidebar_right_login %}
				{% block sidebar_right %}{% endblock %}
				{% news_sidebar_right %}
				{% blog_entries_sidebar_right %}
			</div>
		</div>

		<script type="text/javascript" src="{% static "js/base.js" %}"></script>
	</body>
</html>