<div class="comment-list">
    {% for item in list|slice:":5" %}
        <div class="comment-item__date">
            {% ifchanged %}
                {{ item.date_create|date:"d M Y" }}
            {% else %}
                {% trans 'В тот же день но в ' %}
            {% endifchanged %}
            {{ item.date_create|date:"H:i" }}
        </div>
        <div class="comment-item__username">
            {{ item.author.username }}
        </div>
        <div class="comment-item">
            {% wysiwyg item.text %}
        </div>
    {% empty %}
        <div class="comment-item">{% trans 'Нет комментариев' %}</div>
    {% endfor %}
</div>
{% if list.count > 5 %}
    <div class="comment-more">
        <a href="{% url 'comment.list' app_label=model.app_label model=model.model pk=object.pk %}">{% trans 'Показать больше комментариев' %}</a>
    </div>
{% endif %}
{% if request.user.is_authenticated %}
    <form method="POST" action="{% url 'comment.create' %}" name="comment-create"{% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
        {% csrf_token %}
        {{ form.as_ul }}
        <input type="hidden" name="next" value="{{ request.get_full_path|urlencode }}"/>
        <input class="btn btn-primary" type="submit" value="{% trans 'Отправить комментарий' %}"/>
    </form>
{% else %}
    {% trans 'Вы неавторизованы чтобы оставлять комментарии' %}
    <br />
    <a class="btn btn-sm btn-default" href="{% url 'auth:index' %}?next={{ request.get_full_path|urlencode }}">{% trans 'Авторизоваться на сайте' %}</a>
{% endif %}