{% if list.has_other_pages %}
    <ul class="{{ prefix }}__pagination pagination">
        {% for page in list.paginator.page_range %}
            {% if list.number == page %}
                <li class="{{ prefix }}__pagination-item active">
                    <span>{{ page }}</span>
                </li>
            {% else %}
                <li class="{{ prefix }}__pagination-item">
                    <a href="?{{ param }}={{ page }}">{{ page }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}