<div class="sidebar-news">
    <div class="sidebar-news-title">
        <h3>{% trans 'Последние новости' %}</h3>
    </div>
    {% for item in object_list %}
        <div class="sidebar-news-item">
            <div class="sidebar-news-item__title">
                <a href="{% url 'news:detail' slug=item.category.slug pk=item.id %}">{{ item.title|title }}</a>
            </div>
            <div class="sidebar-news-item__date">
                {% ifchanged %}
                    {{ item.date_create|date:'d M Y' }}
                {% else %}
                    {% trans "В тот же день но в " %}
                {% endifchanged %}
                {{ item.date_create|date:'H:i' }}
            </div>
        </div>
    {% empty %}
        <div class="sidebar-news-empty">
            {% trans 'Нет новостей!' context 'news sidebar' %}
        </div>
    {% endfor %}
</div>