{% extends 'auth.html' %}
{% block title %} {% trans 'Авторизация' %} {% endblock %}
{% block component %}
    <form method="POST" action="{% url 'auth:index' %}" name="auth-login">
        {% csrf_token %}
        {{ form.as_ul }}
        <input type="hidden" name="next" value="{{ next }}"/>
        <input class="btn btn-primary" type="submit" value="{% trans 'Вход' %}"/>
    </form>
{% endblock %}