{% extends 'blog.html' %}
{% block title %} {{ object.title|title }} {% endblock %}
{% block component %}
    <div class="blog-detail">
        <div class="blog-detail__title">
            <h2>{{ object.title|title }}</h2>
        </div>
        <div class="blog-detail__description">
            {% wysiwyg object.description %}
        </div>
        {% if request.user == object.author %}
            <div class="blog-detail__action">
                <a class="btn btn-sm btn-success" href="{% url 'blog:entry.create' %}">{% trans 'Создать пост' %}</a>
                <a class="btn btn-sm btn-info" href="{% url 'blog:update' %}">{% trans 'Редактировать блог' %}</a>
            </div>
        {% endif %}
        <div class="post-list">
            {% for item in object.entries.all|slice:":5" %}
                <div class="post-item">
                    <div class="post-item__title">
                        <a href="{% url 'blog:entry.detail' slug=object.slug pk=item.pk %}">{{ item.title|title }}</a>
                    </div>
                    <div class="post-item__date">
                        {% ifchanged %}
                            {{ item.date_create|date:"d M Y" }}
                        {% else %}
                            {% trans 'В тот же день но в ' %}
                        {% endifchanged %}
                        {{ item.date_create|date:"H:i" }}
                    </div>
                    <div class="post-item__content">
                        <p>{{ item.content|striptags|truncatewords:5 }}</p>
                    </div>
                    {% if request.user == item.blog.author %}
                        <div class="post-item__action">
                            <a class="btn btn-sm btn-warning" href="{% url 'blog:entry.update' pk=item.pk %}">{% trans 'Редактировать пост' %}</a>
                        </div>
                    {% endif %}
                </div>
            {% empty %}
                <div class="post-empty">
                    {% trans 'Нет записей у блога!' context 'blog detail' %}
                </div>
            {% endfor %}
        </div>
        {% if object.entries.count > 5 %}
            <a href="{% url 'blog:entry.list' slug=object.slug %}">{% trans 'Показать все записи' %}</a>
        {% endif %}
    </div>
{% endblock %}