{% extends 'blog.html' %}
{% block title %} {% trans 'Список блогов' %} {% endblock %}
{% block component %}
    <div class="blog-list">
        {% for item in object_list %}
            <div class="blog-item">
                <div class="blog-item__title">
                    <a href="{% url 'blog:detail' slug=item.slug %}">{{ item.title|title }}</a>
                </div>
                <div class="blog-item__description">
                    <p>{{ item.description|striptags|truncatewords:5 }}</p>
                </div>
            </div>
        {% empty %}
            <div class="blog-empty">
                {% trans 'Нет блогов!' %}
            </div>
        {% endfor %}
    </div>
{% endblock %}