{% extends 'blog/entry.html' %}
{% block title %} {% trans 'Удалить пост' %} {% endblock %}
{% block component %}
	<p>
	{% blocktrans trimmed with title=object.title  %}
		Удалить запись блога - <b>{{ title }}</b>?
	{% endblocktrans %}
	</p>
    <form method="POST" action="{% url 'blog:entry.delete' pk=object.pk %}" name="post-delete">
		{% csrf_token %}
		<input class="btn btn-sm btn-primary" type="submit" value="{% trans 'Удалить пост' %}"/>
	</form>
{% endblock %}