{% extends 'blog/entry.html' %}
{% block title %} {{ object.title|title }} {% endblock %}
{% block component %}
    <div class="post-detail">
        <div class="post-detail__title">
            <h2>{{ object.title|title }}</h2>
        </div>
        <div class="post-detail__date">
            {{ object.date_create|date:"d M Y" }}
        </div>
        <div class="post-detail__content">
            {% wysiwyg object.content tags='iframe' attributes='{"iframe": ["src", "width", "height"]}' %}
        </div>
        {% if request.user == object.blog.author %}
            <div class="post-detail__action">
                <a class="btn btn-sm btn-warning" href="{% url 'blog:entry.update' pk=object.pk %}">{% trans 'Редактировать' %}</a>
            </div>
        {% endif %}
    </div>
    {% comment_object entry %}
{% endblock %}