{% extends 'blog/entry.html' %}
{% block title %} {% trans 'Записи блога' %} {% endblock %}
{% block component %}
    <div class="blog-list">
        <div class="post-list">
            {% for item in object_list %}
                <div class="post-item">
                    <div class="post-item__title">
                        <a href="{% url 'blog:entry.detail' slug=item.blog.slug pk=item.pk %}">{{ item.title|title }}</a>
                    </div>
                    <div class="post-item__date">
                        {% ifchanged %}
                            {{ item.date_create|date:"d M Y" }}
                        {% else %}
                            {% trans 'В тот же день но в ' %}
                        {% endifchanged %}
                        {{ item.date_create|date:"H:i" }}
                    </div>
                    <div class="post-item__content">
                        <p>{{ item.content|striptags|truncatewords:5 }}</p>
                    </div>
                    {% if request.user == item.blog.author %}
                        <div class="post-item__action">
                            <a class="btn btn-sm btn-warning" href="{% url 'blog:entry.update' pk=item.pk %}">{% trans 'Редактировать' %}</a>
                        </div>
                    {% endif %}
                </div>
            {% empty %}
                <div class="post-empty">
                    {% trans 'Нет записей у блога!' %}
                </div>
            {% endfor %}
        </div>
        {% pagination list=page_obj param='page' prefix='post' %}
    </div>
{% endblock %}