{% extends 'blog/entry.html' %}
{% block title %} {% trans 'Редактировать пост' %} {% endblock %}
{% block component %}
    <form method="POST" action="{% url 'blog:entry.update' pk=object.pk %}" name="post-update"{% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
		{% csrf_token %}
		{{ form.as_ul }}
		<input class="btn btn-sm btn-primary" type="submit" value="{% trans 'Сохранить пост' %}"/>
	</form>
	<a class="btn btn-sm btn-danger" href="{% url 'blog:entry.delete' pk=object.pk %}">{% trans 'Удалить' %}</a>
{% endblock %}