<div class="sidebar-entries">
    <div class="sidebar-entries-title">
        <h3>{% trans "Последние записи" %}</h3>
    </div>
    {% for item in object_list %}
        <div class="sidebar-entries-item">
            <div class="sidebar-entries-item__title">
                <a href="{% url 'blog:entry.detail' slug=item.blog.slug pk=item.id %}">{{ item.title|title }}</a> / {{ item.blog.title }}
            </div>
            <div class="sidebar-entries-item__date">
                {% ifchanged %}
                    {{ item.date_create|date:'d M Y' }}
                {% else %}
                    {% trans 'В тот же день но в ' %}
                {% endifchanged %}
                {{ item.date_create|date:"H:i" }}
            </div>
        </div>
    {% empty %}
        <div class="sidebar-entries-empty">
            {% trans 'Нет записей!' context 'blog entries sidebar' %}
        </div>
    {% endfor %}
</div>