{% extends 'comment.html' %}
{% block title %} {% trans 'Добавить комментарий' %} {% endblock %}
{% block content %}
    {% if request.user.is_authenticated %}
        <form method="POST" action="{% url 'comment.create' %}" name="comment-create"{% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
            {% csrf_token %}
            {{ form.as_ul }}
            <input type="hidden" name="next" value="{{ request.get_full_path|urlencode }}"/>
            <input class="btn btn-primary" type="submit" value="{% trans 'Отправить комментарий' %}"/>
        </form>
    {% else %}
        {% trans 'Вы неавторизованы чтобы оставлять комментарии' %}
        <br />
        <a class="btn btn-sm btn-default" href="{% url 'auth:index' %}?next={{ request.get_full_path|urlencode }}">{% trans 'Авторизоваться на сайте' %}</a>
    {% endif %}
{% endblock %}
