{% extends 'comment.html' %}
{% block title %} {% trans 'Список комментариев' %} {% endblock %}
{% block content %}
    <div class="comment-list">
        {% for item in object_list %}
            <div class="comment-item__date">
                {% ifchanged %}
                    {{ item.date_create|date:"d M Y" }}
                {% else %}
                    {% trans 'В тот же день но в ' %}
                {% endifchanged %}
                {{ item.date_create|date:"H:i" }}
            </div>
            <div class="comment-item__username">
                {{ item.author.username }}
            </div>
            <div class="comment-item">
                {% wysiwyg item.text %}
            </div>
        {% empty %}
            <div class="comment-item">{% trans 'Нет комментариев' %}</div>
        {% endfor %}
    </div>
    {% pagination list=page_obj param='page' prefix='comment' %}
{% endblock %}
