{% extends 'feedback.html' %}
{% block title %} {% trans 'Обратная связь' %} {% endblock %}
{% block component %}
    <div class="feedback__list">
		{% autoescape on %}
			{% for item in list %}
				<div class="feedback__list-item">
					<div class="feedback__item-name">{{ item.name }}</div>
					<div class="feedback__item-date">{{ item.date_create|date:"d M Y H:i" }}</div>
					<div class="feedback__item-message">{{ item.message }}</div>
					{% if item.picture %}
						<img src="{% resize item.picture.file.path 100 100 %}" width="100" height="100" />
					{% endif %}
				</div>
			{% endfor %}
		{% endautoescape %}
	</div>
	{% pagination list=list param='page' prefix='feedback' %}
	{% if success %}
		<div class="feedback__success">
			<font color="green">{% trans 'Сообщение отправлено!' %}</font>
		</div>
	{% endif %}
	<form method="POST" action="{% url 'feedback:index' %}" name="feedback"{% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>
		{% csrf_token %}
		{{ form.as_ul }}
		<input class="btn btn-primary" type="submit" value="{% trans 'Отправить сообщение' %}"/>
	</form>
	{{ form.media }}
{% endblock %}
